[project]
	description = practice demo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/GauravAhire (GauravAhire)
[access "refs/for/refs/*"]
	read = group user/GauravAhire (GauravAhire)
	push = group user/GauravAhire (GauravAhire)
	label-Code-Review = -2..+2 group user/GauravAhire (GauravAhire)
	label-Verified = -1..+1 group user/GauravAhire (GauravAhire)
	rebase = group user/GauravAhire (GauravAhire)
	removeReviewer = group user/GauravAhire (GauravAhire)
	submit = group user/GauravAhire (GauravAhire)
[access "refs/heads/*"]
	read = group user/GauravAhire (GauravAhire)
	create = group user/GauravAhire (GauravAhire)
	push = +force group user/GauravAhire (GauravAhire)
	pushMerge = group user/GauravAhire (GauravAhire)
[access "refs/tags/*"]
	push = group user/GauravAhire (GauravAhire)
	push = +force group user/GauravAhire (GauravAhire)
